#main{
    background-color: black;
    margin: 30px 5px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box; 
    color: white;
}
#title {
    padding-top: 2px;
    /* font-size: 200%; */
    font-size: 2em;
}
#image {
    max-width: 100%;
    height: auto;
}
#img-div{
    background-color: white;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px; 
}
ul{
    max-width: 550px;
    margin: 0 auto 100px auto;
    line-height: 2;
}
li{
    margin: 20px 50px; 
} 
#tribute-info-list{ 
    color: lightblue;
    text-align:left;
}
    
@media (max-width:600px) {
    #tribute-info-list{
        color: red;
    }
}

a:hover{
    text-decoration: none;
    color: red;
}
figcaption{
    padding: none;
    color: black;
    font-style: italic;
}