#main{
    background-color: lightgray;
    margin: 30px 5px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box; 
}
#title {
    padding-top: 2%;
    /* font-size: 200%; */
    font-size: 3em;
}
#image {
    max-width: 75%;
    height: auto;
}
#img-div{
    background-color: white;
    padding: 20px;
    margin: 0;
    
}
ul{
    max-width: 550px;
    margin: 0 auto 100px auto;
    line-height: 2;
}
li{
    margin: 20px 50px; 
} 
#tribute-info-list{ 
    color: blue;
    text-align:left;
}
    
@media (max-width:600px) {
    #tribute-info-list{
        color: red;
    }
}

a:hover{
    text-decoration: none;
    color: red;
}